Source: rust-eza
Section: rust
Priority: optional
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Ximin Luo <infinity0@debian.org>,
 Sylvestre Ledru <sylvestre@debian.org>,
 kpcyrd <git@rxv.cc>
Build-Depends:
 debhelper (>= 13),
 dh-sequence-bash-completion,
 pandoc,
 pkgconf,
 git,
 gcc,
 libssl-dev,
 zlib1g-dev,
 rustc-1.95,
 cargo-1.95
Standards-Version: 4.7.4
Rules-Requires-Root: no
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/eza]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/eza
Homepage: https://github.com/eza-community/eza

Package: eza
Architecture: any
Section: utils
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: Modern replacement for ls
 eza is an improved file lister with more features and better defaults.
 It uses colours to distinguish file types and metadata. It knows about
 symlinks, extended attributes, and Git. And it’s small, fast, and just
 one single binary.
